<launch>  
<node pkg="tf" type="static_transform_publisher"
   name="camera_link_to_camera"
   args="0 0 0 0 0 0 /camera_link /camera 50" />

<node pkg="tf" type="static_transform_publisher"
   name="camera_link_to_camera_depth_frame"
   args="0 0 0 0 0 0 /camera_link /camera_depth_frame 50" />

 </launch>  