<launch>  
  <group ns="cam2">
	  <node pkg="uvc_camera" type="uvc_camera_node" name="cam2" output="screen" args="">
	  	<param name="device" type="string" value="/dev/video2" />
	  </node>
	  <node pkg="image_view" type="image_view" name="im2" output="screen" args="image:=image_raw">
	  </node>
  </group>
</launch> 