SUBSYSTEM=="usb", ATTR{serial}=="01459DE0", ATTR{idVendor}=="046d", ATTR{idProduct}=="0825", SYMLINK+="video0"
SUBSYSTEM=="usb", ATTR{serial}=="5F8BA9E0", ATTR{idVendor}=="046d", ATTR{idProduct}=="0825", SYMLINK+="video1"
